{% extends "main/base.html" %}
{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Projet: {{ object.intitule }}</h1>
    </div>

    {% if object.auteur == user %}
        <div>
            <a href="{% url 'projet-update' object.id %}"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
                <i class="fas fa-edit fa-sm text-white-50 mr-1"></i>Modifier</a>
            <a href="{% url 'projet-delete' object.id %}"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
                <i class="fas fa-trash fa-sm text-white-50 mr-1"></i>Supprimer</a>
        </div>
    {% endif %}

    <!-- Content Row -->
    <div class="row">

        {% if projet %}
            <div class="col-lg-8 mb-4">

                <div class=" card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{ object.intitule }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 src="{{ object.image.url }}" alt="">
                        </div>
                        <p>
                            {{ object.description }}
                        </p>
                        <hr>
                        <p class="mt-3" style="color: #36b9cc;">Montant requis: {{ object.montant_souhaite }} euros</p>
                        <p class="mt-3" style="color: #36b9cc;">Note moyenne: {{ note_moyenne.moyenne }}</p>
                        <hr>
                        <small class="text-muted">
                            Par <a href="{% url 'user-projets' object.auteur.username %}">{{ object.auteur }}</a>
                            - {{ object.created_at| date:"F D, Y - G:i" }}
                        </small>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>


    <a href="{% url 'financer_projet' pk=projet.pk %}"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
        <i class="fas fa-money-bill fa-sm text-white-50 mr-1"></i>Financer</a>

    <a href="{% url 'evaluer_projet' pk=projet.pk %}"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2 {% if object.auteur == user or not user.profile.is_expert %} disabled {% endif %}">
        <i class="fas fa-check-circle fa-sm text-white-50 mr-1"></i>Noter le projet</a>

    <a href="{% url 'add_comment_to_projet' pk=projet.pk %}"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
        <i class="fas fa-pen fa-sm text-white-50 mr-1"></i>Ajouter un
        commentaire</a>

    {% for commentaire in commentaires %}
        <div class="row">
            <div class="col-xl-8 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    {{ commentaire.auteur.username }} - {{ commentaire.created_at }}
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                            <img class="img-profile rounded-circle"
                                                 src="{{ commentaire.auteur.profile.image.url }}">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p>{{ commentaire.contenu }}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-auto">
                                <a class="float-right ml-2" href="{% url 'main-like' object.id commentaire.id %}">
                                    <i class="fas fa-thumbs-up fa-2x" {% if commentaire.like_set.count > 0 %}style="color: #36b9cc;"{% else %} style="color: #858796;" {% endif %}></i>
                                </a>
                                <div class="text-xs font-weight-bold text-info text-uppercase mt-1">
                                    {% if commentaire.like_set.count > 0 %}
                                        {{ commentaire.like_set.count }}
                                    {% endif %}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% block javascript %}

    {% endblock %}

{% endblock content %}